<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">  
    <section class="section dashboard"> 
      <div class="card">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-12">
          <h5 class="card-title">Total male List</h5> 
          <div class="col btn-group" role="group" >
            <button class="btn btn-primary" [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="bi bi-printer"></i> Print</button>
            <button class="btn btn-success" (click)="exportexcel()"><i class="bi bi-file-earmark-excel"></i> Excel</button>
            
          </div>
          <div class="col-md-6">
            <form novalidate [formGroup]="logdata" (ngSubmit)="onsubmit()">
            <label>Select Date :</label>
            <input type="date" formControlName="date" class="form-control">
        </form>
          </div>
          

          
          <div class="col-md-3 " style="float: right;"><input type="text" class="form-control"[(ngModel)]="search" placeholder="Search...."></div>
          <div class="col-md-12" id="print-section">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Unique ID</th>
                <th scope="col">Name</th>
                <th scope="col">Christian Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Baptised Date</th>
                <th scope="col">Spiritual Age</th>
                <th scope="col">Baptised Status</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Last Updated at</th>
              </tr>
            </thead>
            <tbody *ngFor="let x of latesdata | search:search; let i=index">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{x.code}}</td>
                <td>{{x.surname}} {{x.name}}</td>
                <td>{{x.cname}}</td>
                <td>{{x.sex}}</td>
                <td>{{x.sdob}}</td>
                <td>{{x.sage}}</td>
                <td>{{x.status}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.CreationDate | date:'dd/MM/yyyy hh:mm a'}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
                  </div>
      </div> 
    </div>  
</div>  
    </section>
  </main>  

  
  