<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">  
    <section class="section dashboard"> 
      <div class="card">
        <div class="card-body"> 
          <h5 class="card-title">Age Updated Reports</h5> 
                  </div>
                  <div class="col-md-12">
                    <table class="table table-bordred" style="font-size: 15px;">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Status</th>
                          <th>Message</th>
                          <th>Data</th>
                        </tr>

                      </thead>
                      <tbody>
                        <tr *ngFor="let x of tracking; let i=index">
                          <td>{{i+1}}</td>
                          <td>{{x.status}}</td>
                          <td>{{x.message}}</td>
                          <td>{{x.age}}</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
      </div>    
    </section>
    
  </main>  

  
  