<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">  
    <section class="section dashboard"> 
      <div class="card">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-12">
          <h5 class="card-title">SMS Delivery Report</h5> 

          <div class="col-md-3 " style="float: right;"><input type="text" class="form-control" placeholder="Search...."></div>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Unique ID</th>
                <th scope="col">Name</th>
                <th scope="col">Christian Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Baptised Date</th>
                <th scope="col">Spiritual Age</th>
                <th scope="col">Baptised Status</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Last Updated at</th>
              </tr>
            </thead>
            
          </table>
                  </div>
      </div> 
    </div>  
</div>  
    </section>
  </main>  

  
  