<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">  
    <section class="section dashboard"> 
      <div class="card">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-12">
          <h5 class="card-title">Siloam Media Daily Report</h5> 
          <div class="col-md-3">
            <select class="form-control" (change)="filterdata($event)">
              <option value="">-select Month-</option>
              <option  *ngFor="let x of uniquemonths ">{{x}}</option>
            </select>
          </div>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>YouTube Video</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of youtube;let i=index ">
                <td>{{i+1}}</td>
                <td>{{x.description}}<br>Video Live Streamed Month : <b>{{x.month}}</b></td>
                <td> <iframe width="280" height="158" [src]="getYouTubeEmbedUrl(x.youtube)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>               
              </tr>
            </tbody>
            
          </table>
                  </div>
      </div> 
    </div>  
</div>  
    </section>
  </main>  

  
  