<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#/baptised">
          <i class="bx bx-user"></i>
          <span>Baptised List</span>
        </a>
      </li>
    
     
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#/student/practicetestresult">
          <i class="bx bx-laptop"></i>
          <span>Practice Test Result</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#/notbaptised">
          <i class="bx bx-user"></i>
          <span>Not Baptised List</span>
        </a>
      </li>
     
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="#/members">
          <i class="bx  bx-user"></i>
          <span>Members List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#/male">
          <i class="bx  bx-male"></i>
          <span>Total Male Members List</span>
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#/female">
          <i class="bx  bx-female"></i>
          <span>Total Female Members List</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="sms">
          <i class="bx  bxs-cart-add"></i>
          <span>SMS Delivery Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="tracking">
          <i class="bx  bxs-cart-add"></i>
          <span>Tracking Website</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#/student/studytracker">
          <i class="bi bi-file-bar-graph"></i>
          <span>Study Tracker</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#/student/createtest">
          <i class="bx bx-laptop"></i>
          <span>Practice Test</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Main Menu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#/student/dashboard">
              <i class="bi bi-circle"></i><span>Sub Menu1</span>
            </a>
          </li>
          <li>
            <a href="#/student/dashboard">
              <i class="bi bi-circle"></i><span>Sub Menu1</span>
            </a>
          </li>
          <li>
            <a href="#/student/dashboard">
              <i class="bi bi-circle"></i><span>Sub Menu1</span>
            </a>
          </li>
          <li>
            <a href="#/student/dashboard">
              <i class="bi bi-circle"></i><span>Sub Menu1</span>
            </a>
          </li>
        </ul>
      </li> -->
    </ul>

  </aside>