<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
          <a [ngClass]="selectmenu==0?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(0)"
        href="#/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]="selectmenu==1?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(1)" href="#/baptised">
          <i class="bx bx-user"></i>
          <span>Baptised List</span>
        </a>
      </li>
    
     
      
      <li class="nav-item">
        <a [ngClass]="selectmenu==2?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(2)" href="#/notbaptised">
          <i class="bx bx-user"></i>
          <span>Not Baptised List</span>
        </a>
      </li>
     
    
      <li class="nav-item">
        <a [ngClass]="selectmenu==3?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(3)" href="#/members">
          <i class="bx  bx-user"></i>
          <span>Members List</span>
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]="selectmenu==4?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(4)" href="#/male">
          <i class="bx  bx-male"></i>
          <span>Total Male Members List</span>
        </a>
      </li>
        <li class="nav-item">
        <a [ngClass]="selectmenu==5?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(5)" href="#/female">
          <i class="bx  bx-female"></i>
          <span>Total Female Members List</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a [ngClass]="selectmenu==6?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(6)" href="#/livevideos">
          <i class="bi bi-camera-video-fill"></i>
          <span>Live Videos</span>
        </a>
      </li> 
   
      <li class="nav-item">
        <a [ngClass]="selectmenu==7?'nav-link collapsed menu_active2':'nav-link collapsed'" (click)="gotoment(7)" href="#/tracking">
          <i class="bx  bxs-cart-add"></i>
          <span>Tracking Website</span>
        </a>
      </li> 

   
    </ul>

  </aside>